@import '../../style/variables';
@import '../../style/breakpoints';

.projectsContainer {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;

  z-index: 9;
  height: 100%;
  width: 100%;
  .projects {
    color: white;
    height: 200vh;
  }
}
