@import '../style/variables';
@import '../style/breakpoints';

.nav {
  position: absolute;
  z-index: 99;
  top: 10px;
  width: 100%;
  margin: auto;
  opacity: 1;
  ul {
    width: 95%;
    margin: auto;
    padding-inline-start: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      list-style: none;

      a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          padding-top: 1px;
          margin-left: 8px;
          font-weight: 800;
          font-size: 1rem;
          mix-blend-mode: difference;
          color: $pink;
        }
      }
    }
    .projectsNav {
      width: 200px;
    }
    .aboutNav {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .homeLink {
      width: 36px;
      height: 36px;

      border: 2px solid $pink;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & span {
        color: $pink;
        margin-left: 0px;
        margin-top: 7px;
      }
    }
  }
}
.show {
  opacity: 1;
  margin-top: 0px;
  transition: all 0.3s ease-in-out;
}
.hide {
  opacity: 0;
  margin-top: 40px;
}
